---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/sc2/profile/10886/2/out/matches?apikey=API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-67.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '27'
      X-Plan-Quota-Reset:
      - Wednesday, July 1, 2015 7:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "matches" : [ {
            "map" : "Research Complex",
            "type" : "THREES",
            "decision" : "WIN",
            "speed" : "FASTER",
            "date" : 1420147948
          }, {
            "map" : "Research Complex",
            "type" : "THREES",
            "decision" : "WIN",
            "speed" : "FASTER",
            "date" : 1420146947
          }, {
            "map" : "Forbidden Sanctuary",
            "type" : "THREES",
            "decision" : "LOSS",
            "speed" : "FASTER",
            "date" : 1420145833
          }, {
            "map" : "Research Complex",
            "type" : "THREES",
            "decision" : "LOSS",
 [...]
