---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/achievement/200?apikey=API_KEY&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-74.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '3'
      X-Plan-Quota-Reset:
      - Wednesday, June 24, 2015 1:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":200,"title":"Persistent Defender","points":10,"description":"Return
        50 flags as a defender in Warsong Gulch.","rewardItems":[],"icon":"achievement_bg_interruptx_flagcapture_attempts","criteria":[{"id":440,"description":"Return
        the flag 50 times","orderIndex":1,"max":50}],"accountWide":false,"factionId":2}'
  recorded_at: Wed, 24 Jun 2015 12:42:09 GMT
recorded_with: VCR 2.9.3
