---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/item/18803?apikey=API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-68.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '17'
      X-Plan-Quota-Reset:
      - Wednesday, July 1, 2015 7:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":18803,"disenchantingSkillRank":225,"description":"Property of
        Finkle Einhorn, Grandmaster Adventurer","name":"Finkle''s Lava Dredger","icon":"inv_gizmo_02","stackable":1,"itemBind":1,"bonusStats":[{"stat":51,"amount":11},{"stat":5,"amount":18},{"stat":6,"amount":16},{"stat":7,"amount":19}],"itemSpells":[],"buyPrice":474384,"itemClass":2,"itemSubClass":5,"containerSlots":0,"weaponInfo":{"damage":{"min":81,"max":122,"exactMin":81.0,"exactMax":122.0},"weaponSpeed":2.9,"dps":35.0},"inventoryType":17,"equippable":true,"itemLevel":70,"maxCount":0,"maxDurability":120,"minFactionId":0,"minReputation":0,"quality":4,"sellPrice":94876,"requiredSkill":0,"requiredLevel":60,"requiredSkillRank":0,"itemSource":{"sourceId":179703,"sourceType":"GAME_OBJECT_DROP"},"baseArmor":0,"hasSockets":false,"isAuctionable":false,"armor":0,"displayInfoId":31265,"nameDescription":"","nameDescriptionColor":"000000","upgradable":true,"heroicTooltip":false,"context":"","bonusLists":[],"availableContexts":[""],"bonusSummary":{"defaultBonusLists":[],"chanceBonusLists":[],"bonusChances":[]}}'
  recorded_at: Wed, 01 Jul 2015 18:25:40 GMT
recorded_with: VCR 2.9.3
