---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/item/set/1060?apikey=API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-71.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '18'
      X-Plan-Quota-Reset:
      - Wednesday, July 1, 2015 7:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":1060,"name":"Deep Earth Vestments","setBonuses":[{"description":"Reduces
        the mana cost of Healing Touch and Rejuvenation by 5%.","threshold":2},{"description":"Your
        Rejuvenation and Regrowth spells have a 10% chance to Timeslip and have double
        the normal duration.","threshold":4}],"items":[76749,76750,76751,76752,76753]}'
  recorded_at: Wed, 01 Jul 2015 18:25:42 GMT
recorded_with: VCR 2.9.3
