---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/quest/13146?apikey=API_KEY&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-60.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '19'
      X-Plan-Quota-Reset:
      - Thursday, June 25, 2015 8:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":13146,"title":"Generosity Abounds","reqLevel":77,"suggestedPartyMembers":0,"category":"Icecrown","level":80}'
  recorded_at: Thu, 25 Jun 2015 19:56:35 GMT
recorded_with: VCR 2.9.3
