---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/d3/data/follower/templar?apikey=API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 21 May 2015 21:35:10 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-52.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '5'
      X-Plan-Quota-Reset:
      - Wednesday, July 1, 2015 7:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "slug" : "templar",
          "name" : "Templar",
          "realName" : "d3.follower.templar.realName",
          "portrait" : "templar",
          "skills" : {
            "active" : [ {
              "slug" : "heal",
              "name" : "Heal",
              "icon" : "templar_heal_110",
              "level" : 5,
              "tooltipUrl" : "skill/templar/heal",
              "description" : "Cooldown: 30 seconds\r\n\r\nHeals you and the Templar for 193112 Life.",
              "simpleDescription" : "Cooldown: 30 seconds\r\n\r\nHeals you and the Templar.",
              "skillCalcId" : "a"
            }, {
              "slug" : "intervene",
              "name" : "Intervene",
              "icon" : "templar_intervene",
              "level" : 5,
              "tooltipUrl" : "skill/templar/intervene",
              "description" : "Cooldown: 10 seconds\r\n\r\nTaunt enemies within 10 yards of you for 3 seconds when you are hit.",
              "simpleDescription" : "Cooldown: 10 seconds\r\n\r\nTaunt enemies near you when you are hit.",
              "skillCalcId" : "Z"
       [...]
