---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/d3/profile/Scorch-2826/?apikey=API_KEY&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-76.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '14'
      X-Plan-Quota-Reset:
      - Friday, June 26, 2015 9:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "battleTag" : "Scorch#2826",
          "paragonLevel" : 224,
          "paragonLevelHardcore" : 0,
          "paragonLevelSeason" : 4,
          "paragonLevelSeasonHardcore" : 0,
          "heroes" : [ {
            "paragonLevel" : 224,
            "seasonal" : false,
            "name" : "Scorched",
            "id" : 9034002,
            "level" : 70,
            "hardcore" : false,
            "last-updated" : 1431036864,
            "gender" : 1,
            "dead" : false,
            "class" : "wizard"
          }, {
            "paragonLevel" : 224,
            "seasonal" : false,
            "name" : "Scorch",
            "id" : 77002,
            "level" : 70,
            "hardcore" : false,
            "last-updated" : 1428496101,
            "gender" : 1,
            "dead" : false,
            "class" : "monk"
          }, {
            "paragonLevel" : 224,
            "seasonal" : false,
            "name" : "Scarry",
            "id" : 12883988,
            "level" : 70,
   [...]
