---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/recipe/33994?apikey=API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-68.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '20'
      X-Plan-Quota-Reset:
      - Wednesday, July 1, 2015 7:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":33994,"name":"Precise Strikes","profession":"Enchanting","icon":"spell_holy_greaterheal"}'
  recorded_at: Wed, 01 Jul 2015 18:25:43 GMT
recorded_with: VCR 2.9.3
