---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/guild/shadowsong/Goblins?apikey=API_KEY&fields=&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 25 Jun 2015 19:42:24 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-84.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '12'
      X-Plan-Quota-Reset:
      - Thursday, June 25, 2015 8:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lastModified":1435261344000,"name":"Goblins","realm":"Shadowsong","battlegroup":"Reckoning
        / Abrechnung","level":25,"side":1,"achievementPoints":2500,"emblem":{"icon":12,"iconColor":"ffb1b8b1","border":3,"borderColor":"ffffffff","backgroundColor":"ff232323"}}'
  recorded_at: Thu, 25 Jun 2015 19:44:07 GMT
recorded_with: VCR 2.9.3
