---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/character/shadowsong/Redstone?apikey=API_KEY&fields=,appearance,,,,,,,,,,,,stats,,,locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Wed, 24 Jun 2015 15:43:40 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-79.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '9'
      X-Plan-Quota-Reset:
      - Monday, June 29, 2015 10:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lastModified":1435160620000,"name":"Redstone","realm":"Shadowsong","battlegroup":"Reckoning
        / Abrechnung","class":8,"race":2,"gender":1,"level":90,"achievementPoints":8405,"thumbnail":"internal-record-3666/105/93238889-avatar.jpg","calcClass":"e","stats":{"health":52038,"powerType":"mana","power":37000,"str":185,"agi":247,"int":1062,"sta":1062,"speedRating":0.0,"speedRatingBonus":0.0,"crit":20.043478,"critRating":346,"haste":19.000008,"hasteRating":342,"hasteRatingPercent":19.0,"mastery":35.373913,"masteryRating":176,"spr":327,"bonusArmor":0,"multistrike":8.0,"multistrikeRating":0.0,"multistrikeRatingBonus":0.0,"leech":0.0,"leechRating":0.0,"leechRatingBonus":0.0,"versatility":0,"versatilityDamageDoneBonus":0.0,"versatilityHealingDoneBonus":0.0,"versatilityDamageTakenBonus":0.0,"avoidanceRating":0.0,"avoidanceRatingBonus":0.0,"spellPower":1308,"spellPen":0,"spellCrit":20.043478,"spellCritRating":346,"mana5":5767.0,"mana5Combat":3962.0,"armor":152,"dodge":3.0,"dodgeRating":0,"parry":0.0,"parryRating":0,"block":0.0,"blockRating":0,"mainHandDmgMin":37.0,"mainHandDmgMax":70.0,"mainHandSpeed":1.513,"mainHandDps":35.36021,"offHandDmgMin":0.0,"offHandDmgMax":0.0,"offHandSpeed":1.681,"offHandDps":0.0,"rangedDmgMin":-1.0,"rangedDmgMax":-1.0,"rangedSpeed":-1.0,"rangedDps":-1.0,"attackPower":0,"rangedAttackPower":0},"appearance":{"faceVariation":4,"skinColor":7,"hairVariation":14,"hairColor":0,"featureVariation":2,"showHelm":true,"showCloak":true},"totalHonorableKills":4519}'
  recorded_at: Mon, 29 Jun 2015 21:23:34 GMT
recorded_with: VCR 2.9.3
