---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/character/shadowsong/Redstone?apikey=API_KEY&fields=,,,,,,,,,,,,,,,,&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Wed, 24 Jun 2015 15:43:40 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-75.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '13'
      X-Plan-Quota-Reset:
      - Monday, June 29, 2015 9:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lastModified":1435160620000,"name":"Redstone","realm":"Shadowsong","battlegroup":"Reckoning
        / Abrechnung","class":8,"race":2,"gender":1,"level":90,"achievementPoints":8405,"thumbnail":"internal-record-3666/105/93238889-avatar.jpg","calcClass":"e","totalHonorableKills":4519}'
  recorded_at: Mon, 29 Jun 2015 20:26:48 GMT
recorded_with: VCR 2.9.3
