---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/spell/8056?apikey=API_KEY&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-68.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '2'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '21'
      X-Plan-Quota-Reset:
      - Wednesday, July 1, 2015 7:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":8056,"name":"Frost Shock","icon":"spell_frost_frostshock","description":"Instantly
        shocks an enemy with frost, dealing 2,631 Frost damage and reducing the target''s
        movement speed by 50%. Lasts 8 sec.","range":"25 yd range","powerCost":"1.25%
        of base mana","castTime":"Instant","cooldown":"6 sec cooldown"}'
  recorded_at: Wed, 01 Jul 2015 18:25:44 GMT
recorded_with: VCR 2.9.3
