---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/battlePet/stats/258?apikey=API_KEY&breedId=5&level=25&locale=en_US&qualityId=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-59.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '44'
      X-Plan-Quota-Reset:
      - Thursday, June 25, 2015 9:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"speciesId":258,"breedId":5,"petQualityId":4,"level":25,"health":1587,"power":315,"speed":297}'
  recorded_at: Thu, 25 Jun 2015 20:41:39 GMT
recorded_with: VCR 2.9.3
