---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/battlePet/species/258?apikey=API_KEY&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-80.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '43'
      X-Plan-Quota-Reset:
      - Thursday, June 25, 2015 9:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"speciesId":258,"petTypeId":9,"creatureId":42078,"name":"Mini Thor","canBattle":true,"icon":"t_roboticon","description":"Powerful
        artillery of the terran army. The Thor is always the first one in and the
        last one out!","source":"Promotion: StarCraft II: Wings of Liberty Collector''s
        Edition","abilities":[{"slot":1,"order":1,"requiredLevel":2,"id":640,"name":"Toxic
        Smoke","icon":"spell_shadow_plaguecloud","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":0,"order":0,"requiredLevel":1,"id":777,"name":"Missile","icon":"ability_racial_rocketbarrage","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":0,"order":3,"requiredLevel":10,"id":455,"name":"Batter","icon":"inv_mace_02","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":2,"order":2,"requiredLevel":4,"id":636,"name":"Sticky
        Grenade","icon":"inv_misc_pyriumgrenade","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":2,"order":5,"requiredLevel":20,"id":293,"name":"Launch
        Rocket","icon":"ability_mount_rocketmount","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":1,"order":4,"requiredLevel":15,"id":634,"name":"Minefield","icon":"inv_misc_bomb_09","cooldown":5,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false}]}'
  recorded_at: Thu, 25 Jun 2015 20:41:35 GMT
recorded_with: VCR 2.9.3
